<div class="row">
	<div class="col-lg-12">
	  <div class="align-text-right">
			<button type="submit" class="btn btn-sm btn-primary btn-pill" (click)="openModal(registerHostModal, modalId)"><i class="fa fa-plus-circle"></i> Register New Host</button>
	  </div>
	  <div class="card mt-2">
		<div class="card-header">
			<strong>Registered Hosts</strong>
		</div>
		<div class="card-body">
			<ngb-data-table #sortableTable [searchCollection]="hosts">
				<div class="align-items-right form-group form-inline">
					<input class="small-input" placeholder="Search here..." type="text" name="searchTerm" [(ngModel)]="searchTerm"/>
				</div>
				<table class="table table-bordered table-striped table-sm">
					<thead>
						<tr>
							<th sortable="registered_name" (sort)="sortableTable.onSort($event)">Registered Name</th>
							<th sortable="host" (sort)="sortableTable.onSort($event)">Host</th>
							<th sortable="port" (sort)="sortableTable.onSort($event)">Port</th>
							<th sortable="database" (sort)="sortableTable.onSort($event)">Database</th>
							<th sortable="status" (sort)="sortableTable.onSort($event)">Status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody *ngIf="hosts">
						<tr *ngFor="let host of hosts | filter:searchTerm">
						<td>{{host.registered_name}}</td>
						<td>{{host.host}}</td>
						<td>{{host.port}}</td>
						<td>{{host.database}}</td>
						<td>{{host.status}}</td>
						<td>
							<a class="pointer" (click)="openModal(registerHostModal, modalId, host)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
							&nbsp;
							<a class="pointer" (click)="onDelete(host.id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
						</td>
						</tr>			  
					</tbody>
				</table>
			</ngb-data-table>		  
		</div>
	  </div>
	</div>
</div>

<app-modal modalId="{{modalId}}">
	<ng-template #registerHostModal>
		<div class="modal-header">
			<h4 class="modal-title">Register Host</h4>
			<button type="button" class="close" aria-label="Close" (click)="hideModal(modalId)">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<form [formGroup]="registrationForm" (ngSubmit)="onSubmit(modalId)" class="form-horizontal">
			<div class="modal-body">
				<div class="form-group row">
					<input type="hidden" formControlName="id" />
					<label class="col-md-3 col-form-label align-text-right" for="registered_name">Name : </label>
					<div class="col-md-9">
						<input type="text" formControlName="registered_name" class="form-control form-control-sm" placeholder="Any user defined name" required>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label align-text-right" for="host">Host : </label>
					<div class="col-md-9">
						<input type="text" formControlName="host" class="form-control form-control-sm" placeholder="Host">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label align-text-right" for="port">Port : </label>
					<div class="col-md-9">
						<input type="text" formControlName="port" class="form-control form-control-sm" placeholder="Port">
					</div>
				</div>				
				<div class="form-group row">
					<label class="col-md-3 col-form-label align-text-right" for="database">Instance : </label>
					<div class="col-md-9">
						<input type="text" formControlName="database" class="form-control form-control-sm" placeholder="Instance">
					</div>
				</div>
			</div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-sm btn-danger" (click)="hideModal(modalId)">Cancel</button>
			<button type="submit" class="btn btn-sm btn-primary">Register</button>
		  </div>
	   </form>
	</ng-template>
</app-modal>