$right-side-bkg-color: #fff;
$page-text-color: black;
$left-side-bkg-color: #01509e;
$btn-hover-color: #267dff;

.full-height {
	height: 100%
}

.align-items-center {
	align-items: center;
}

.login-page-left-side {	
	background: $left-side-bkg-color;
    text-align: center;
    color: $right-side-bkg-color;	
}

.login-page-right-side {
	
    background: $right-side-bkg-color;
    text-align: center;
    color: $page-text-color;
	
	.login-title {
		color: #01509e
	}
	
	.rounded-btn {
        -webkit-border-radius: 50px;
        border-radius: 50px;
        color: $right-side-bkg-color;
        background: $left-side-bkg-color;
        border: 2px solid $left-side-bkg-color;
		width: 30%
    }
    .rounded-btn:hover,
    /*.rounded-btn:focus,*/
    .rounded-btn:active {
        background-color: $btn-hover-color;
		border: 2px solid $btn-hover-color;
        outline: none;
    }
	
	.input-underline {
        background: 0 0;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid $left-side-bkg-color;
        color: 	$page-text-color;
        border-radius: 0;
    }
    .input-underline:focus {
        border-bottom: 2px solid $left-side-bkg-color;
        box-shadow: none;
    }

    .user-avatar {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 2px solid $right-side-bkg-color;
    }
	
	/*.ng-valid[required], .ng-valid.required  {
	  border-bottom: 2px solid $left-side-bkg-color;
	}

	.ng-invalid:not(form)  {
	  border-bottom: 2px solid #a94442;  red 
	}*/
}
