<div class="full-height">
	<div class="row full-height">
		<div class="login-page-left-side col-lg-7">
			<div class="row justify-content-md-center full-height align-items-center">
				<div class="col-md-8">
					<h1>{{ suiteWelcomeTitle }}</h1>
					<span>Add more infor here about this suite</span>
				</div>
			</div>
		</div>
		<div class="login-page-right-side col-lg-5 ">
			<div class="row justify-content-md-center full-height align-items-center">
				<div class="col-md-8">
					<!--<img src="assets/images/user.png" height="100" width="100" class="user-avatar" />-->
					<h1 class="login-title">{{ suiteLoginTitle }}</h1>
					<form role="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
						<div class="form-content" >
							<div class="form-group">
								<input type="text" formControlName="username" required class="form-control input-underline" placeholder="Username" required>
							</div>

							<div class="form-group">
								<input type="password" formControlName="password" class="form-control input-underline" placeholder="Password" required>
							</div>
						</div>
						<button class="btn rounded-btn" [disabled]="!loginForm.valid">LOGIN</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>