<div class="app">
	<app-header
	  [navbarBrandRouterLink]="['/' + homeURL]"
	  [fixed]="true"
	  [navbarBrandFull]="{src: [appConstants.APP_LOGO_IMAGE_PATH], width: 80, height: 50, alt: 'Suite'}"
	  [navbarBrandMinimized]="{src: [appConstants.APP_LOGO_IMAGE_MINIMIZED_PATH], width: 30, height: 30, alt: 'S'}"
	  [sidebarToggler]="'lg'"
	  [asideMenuToggler]="false">
	  <ul class="nav navbar-nav ml-auto">
		<li class="nav-item dropdown bottom-right" ngbDropdown display="dynamic" placement="bottom-right">
		  <a class="nav-link" ngbDropdownToggle href="#" role="button" aria-haspopup="true" aria-expanded="false" (click)="false">
			Hello {{userName}}
		  </a>
		  <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="simple-dropdown">
			<a ngbDropdownItem class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
			<a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Settings</a>
			<a class="dropdown-item" [href]="'/' + logoutURL"><i class="fa fa-lock"></i> Logout</a>
		  </div>
		</li>
	  </ul>
	</app-header>
	<div class="app-body">
	  <app-sidebar [fixed]="true" [display]="'lg'">
		<app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
		<app-sidebar-minimizer></app-sidebar-minimizer>
	  </app-sidebar>
	  <!-- Main content -->
	  <main class="main">
		<!-- Breadcrumb -->
		<!-- breaking change 'cui-breadcrumb' -->
		<cui-breadcrumb>
		  <!-- Breadcrumb Menu-->
		  <li class="breadcrumb-menu d-md-down-none">
			<!--<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
			  <a class="btn" href="#"><i class="icon-speech"></i></a>
			  <a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>
			  <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
			</div>-->
		  </li>
		</cui-breadcrumb>
		<div class="container-fluid">
		  <router-outlet></router-outlet>
		</div><!-- /.container-fluid -->
	  </main>
	</div>
	<app-footer>
	  <span><a href="#"></a>{{ appConstants.FOOTER_COPYRIGHT }} </span>
	  <span class="ml-auto">Powered by <a href="#">{{ appConstants.FOOTER_POWEREDBY }}</a></span>
	</app-footer>
</div>


<!-- <div bsModal #autoLogoutWarningModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">You were idle!</h4>
      </div>
      <div class="modal-body">
         You will be logged out in {{timeRemainingForLogout}} seconds.
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-sm btn-danger" (click)="logout()">Logout</button>
		<button type="button" class="btn btn-sm btn-primary" (click)="stay()">Stay</button>
	  </div>
    </div>
  </div>
</div> -->

<app-modal modalId="{{modalId}}">
	<ng-template #autoLogoutWarningModal>
		<div class="modal-header">
			<h4 id="dialog-child-name" class="modal-title pull-left">You were idle!</h4>
		  </div>
		  <div class="modal-body">
			 You will be logged out in {{timeRemainingForLogout}} seconds.
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-sm btn-danger" (click)="logout()">Logout</button>
			<button type="button" class="btn btn-sm btn-primary" (click)="stay()">Stay</button>
		  </div>
	</ng-template>
</app-modal>