@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap/scss/mixins";
@import "~@coreui/coreui/scss/variables";
@import "~ngx-toastr/toastr.css";

// Import styles
@import "~@coreui/coreui/scss/coreui";

html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
	height: 100%;
    position:relative;
}

body{
    height:100%; /* force the BODY element to match the height of the HTML element */
}

#toast-container > div {
    opacity:1;
}

.card-header {
	padding: 0.40rem 1.25rem;
	background-color: #94f494;
	color: black
}

.align-text-right {
	text-align: right;
}

.align-text-left {
	text-align: left;
}

.align-items-right {
	float: right;
}

.modal-lg, .modal-md {
	.modal-header {
		padding: 0.5rem 1rem;
		background-color: #94f494;

		// .close {
		// 	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
		// 	margin: 0.5rem 0.5rem 0.5rem 0.5rem;
		// }
	}
	.modal-footer {
		padding: 0.5rem;
	}
}

.modal-backdrop {
	background-color: #fff;
}

.pointer {
	cursor: pointer;
}

.small-input {
	height: 25px;
}